/* 
    Som Ramnani Portfolio Website
    Author: Som Ramnani
    Date: 2/15/2019

    Filename: style.css

*/


/**********General Styling **********/





/********** Font Styles **********/


/**********Header Styles **********/


/**********Navigation Styles **********/

/**********Video Styles **********/


/**********Image Styles **********/

/***********Footer Styling ***********/